<form>
    <h3>About</h3>
    <div class="row">
        <div class="col-md-3">
            <label for="inputFName">First name</label>
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col-md-3">
            <label for="inputMName">Middle name</label>
            <input type="text" class="form-control" placeholder="Middle name">
        </div>
        <div class="col-md-3">
            <label for="inputLName">Last name</label>
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div><br>


    <label for="inputBirth">Date of birth</label>
    <div class="row form-group">

        <div class="col-md-1">
            <input type="text" placeholder="11" maxlength="2" class="form-control " aria-describedby="date">
        </div>
        <div class="col-md-1">
            <input type="text " placeholder="11" maxlength="2" class="form-control " aria-describedby="month">
        </div>
        <div class="col-md-2">
            <input type="text " placeholder="1911" class="form-control" maxlength="4" aria-describedby="year">
        </div>
    </div>

    <div>
        <label for="inputBSex">Biological sex</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
    </div><br>
    <div>
        <label for="inputFName">Ethnicity</label><br>
        <a href="#">+ Add ethnicity</a>
    </div><br>
    <div>
        <label for="inputFName">Languages</label><br>
        <a href="#">+ Add language</a>
    </div>
    <button class="btn btn-primary savebtn">Save</button>
</form>