<div class="container">
    <h3>Lifestyle</h3>
    <h6>Dietary restrictions</h6>
    <p>None</p>
    <a href="#">+ Add dietary restrictions</a><br><br>

    <div class="dropdown">
        <h6>Alcohol</h6>
        <p>How would you classify your consumption of alcohol?</p>

        <select class="form-control " id="myList ">
            <option value="0 ">--select one--</option>
            <option value="1 ">Social Drinker (0-7 drinks/week)</option>
            <option value="2 ">Moderate Drinker (8-14 drinks/week)</option>
            <option value="3 ">Heavy Drinker (15+ drinks/week)</option>
            <option value="4 ">Not a Drinker</option>
        </select>
    </div><br>

    <h6>Tobacco</h6>
    <p>Do you smoke or chew tobacco or recently quit?</p>
    <select class="form-control " id="myList ">
        <option value="0">None</option>
        <option value="1">Never smoked or chewed</option>
        <option value="2">Yes, 0-2 packs a month</option>
        <option value="3">Yes, 0-2 packs a week</option>
        <option value="4">Yes, 0-2 packs a day</option>
        <option value="5">Yes, more than 2 packs a day</option>
        <option value="6">Yes, chewing tobacco</option>
    </select><br>

    <h6>Sexually active</h6>
    <p>Have you ever had sexual intercourse with men, women, or both?</p>
    <select class="form-control" id="myList ">
        <option value="0">None</option>
        <option value="1">Not sexually active</option>
        <option value="2">Men</option>
        <option value="3">Women</option>
        <option value="4">Both</option>
    </select><br>

    <h6>Recreational drugs</h6>
    <p>None</p>

    <a href="#">+ Add recreational drugs</a>
</div>