<form class="form">
    <div class="container">
        <h3>Contact Information</h3>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" placeholder="example@gmail.com" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPhone">Phone</label><br>
            <div class="row form-group">

                <div class="col-md-2">
                    <input type="number" placeholder="+1" class="form-control " aria-describedby="emailHelp ">
                </div>
                <div class="col-md-4">
                    <input type="text" placeholder="Phone number" maxlength="10" class=" form-control " aria-describedby="emailHelp ">
                </div>
            </div>
        </div>
        <div class="form-group ">
            <label for="exampleInputAddress ">Address</label><br>
            <label for="exampleInputCountry ">Country/Region</label>
            <select class="form-control " id="myList ">
                <option value="0 ">--select one--</option>
                <option value="1 ">Afganistan</option>
                <option value="2 ">Albania</option>
                <option value="3 ">Algeria</option>
                <option value="4 ">America</option>
            </select>
        </div>
        <div class="form-group ">
            <label for="exampleInputAddressOne ">Address line one</label>
            <input type="text " class="form-control " aria-describedby="emailHelp ">
        </div>
        <div class="form-group ">
            <label for="exampleInputAddressTwo ">Address line two</label>
            <input type="text " class="form-control " aria-describedby="emailHelp ">
        </div>
        <div class="form-group ">
            <label for="exampleInputCity ">City</label>
            <input type="text " class="form-control " aria-describedby="emailHelp ">
        </div>
        <div>
            <label for="exampleInputAddress ">State/Province</label>
            <div class="row form-group ">

                <div class="col-md-6 ">
                    <input type="number " class="form-control " aria-describedby="emailHelp ">
                </div>
                <div class="col-md-5 ">
                    <input type="text " class="form-control " aria-describedby="emailHelp ">
                </div>
            </div>
            <div class="form-group ">
                <label for="exampleInputAddressTwo ">Emergency contact</label>
                <input type="text " class="form-control " placeholder="name " aria-describedby="emailHelp ">
            </div>
        </div>
        <div>
            <div class="row form-group">

                <div class="col-md-2">
                    <input type="number" placeholder="+1" class="form-control">
                </div>
                <div class="col-md-4">
                    <input type="text" placeholder="Phone number" class="form-control">
                </div>
            </div>
        </div>
        <div class="last ">
            <input type="text" class="form-control" placeholder="Relationship">
        </div>
    </div><br>
    <button class="btn btn-primary savebtn">Save</button>
</form>